<div class="form-group">
    <label for="firstName">First Name</label>
    <input required value="<%= order.firstName %>" type="text" name="firstName" id="firstName" class="form-control">
</div>

<div class="form-group">
    <label for="tableNumber">Table Number</label>
    <input required value="<%= order.tableNumber %>" type="text" name="tableNumber" id="tableNumber" class="form-control">
</div>

<div class="form-group">
    <label for="foodOrder">Food Order</label>
    <textarea required name="foodOrder" id="foodOrder" class="form-control"><%= order.foodOrder %></textarea>
</div>

<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-success">Save Order</button>